h1{
    display: relative;
    cursor: pointer;
    position: relative;
}

.App-header {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.breadCrumb{
    position: bottom;
    margin-right: 0px;
}

.breadcrumbText{
    color: white;
    cursor: pointer;
}

.breadcrumbTextSecondary{
    color: rgba(255, 255, 255, 0.486);
}