.App {
  text-align: center;
  background-color: aliceblue;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

text{
  color: rgba(0, 0, 0, 0.425);
}

p{
  color: rgba(0, 0, 0, 0.425);
  margin : 2px;
}

h3{
  margin : 5px
}